SERVER_URL=http://172.17.0.1:28080/auth/
CLIENT_ID=...
REALM_NAME=realm-name
CLIENT_SECRET_KEY=...
CLIENT_ROLE=...
TOKEN_URL=https://oauth.followupper.de/auth/realms/realm-name/protocol/openid-connect/token
CLIENT_ID_AUTH_SERVICE=auth-service
CLIENT_SECRET_KEY_AUTH_SERVICE=...
TEST_USER=sample@gmail.com
TEST_PASS=123456789
CLIENT_ID_EXTERNAL_SERVICE=external-auth-service
CLIENT_SECRET_KEY_EXTERNAL_SERVICE=...
EXTERNAL_USER=user@gmail.com
EXTERNAL_PASS=987654321
